@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e293b;
  background-color: #f1f5f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}

* {
  box-sizing: border-box;
}